@model EducationalApplication.Utility.PaginatedList<EducationalApplication.Models.ClassRoom>
@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h1 style="float:right">
        مدیریت کلاس های درسی
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> خانه</a></li>
        <li class="active"></li>
    </ol>
</section>
<div style="margin-top: 50px;margin-bottom:3px">
    <a class="btn btn-success openmodal" href="#" data-toggle="modal" data-target="#myModal">ثبت جدید</a>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center" style="border-style: solid;border-color:dimgray">
            <h2 style="font-size:medium">جستجو</h2>
        </div>
        @using (Html.BeginForm("Index",
    "ClassRooms",
    FormMethod.Post))
        {

            <div class="box zmdi-border-color" style="height:auto">
                <div class="box-body table-responsive no-padding row ">
                    <div style="width:90%;margin-right:40px;margin-top:10px">
                        <div class="row">
                            <label for="exampleInputEmail1">عنوان جستجو:</label>
                            <input name="searchString" placeholder="متن را وارد کنید" class="" style="width:260px">
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px" dir="rtl">
                    <button style="margin-right:20px;" type="submit" class="btn btn-primary">جتسجو یا بارگزاری مجدد</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
                    <tr>
                        <th>
                            ردیف
                        </th>
                        <th>
                            نام
                        </th>
                        <th>
                            کد
                        </th>
                        <th>
                            مقطع
                        </th>
                        <th>
                            رشته
                        </th>
                        <th>
                            تعداد دانش آموزان
                        </th>
                        <th>
                            تعداد معلمان
                        </th>
                        <th>
                            عملیات
                        </th>
                    </tr>
                    @{ int rowNo = 0; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(rowNo += 1)
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.Grade.Name
                            </td>
                            <td>
                                @item.Major.Name
                            </td>
                            <td>
                                @item.Students.Count() نفر
                            </td>
                            <td>
                                @item.TeachersToClassRoom.Count() نفر
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.Id"> حذف</button> |
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModal" id="@item.Id"> ویرایش</button>
                                <a href="/ClassRooms/AssignTeacher?Id=@item.Id" class="btn btn-adn btn-sm">تخصیص معلم</a>
                                <a href="/ClassRooms/AssignStudent?Id=@item.Id" class="btn btn-success btn-sm" style="margin-top:2px"> تخصیص دانش آموز</a>
                                <a href="/ClassRooms/GetAllPersons?Id=@item.Id" class="btn btn-primary btn-sm" style="margin-top:2px">افراددراین کلاس</a>


                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            صفحه قبل
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            صفحه بعد
        </a>

    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" style="height:auto;overflow-y:visible">
    <div class="modal-dialog modal-sm" style="width:400px">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ثبت جدید</h4>
            </div>
            <div class="modal-body" style="height:auto">

                <form id="register">
                    <input id="ClassRoomId" name="ClassRoomId" hidden />
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> نام :</label>
                        <input display="عنوان کلاس" id="Name" name="Name" placeholder="نام کلاس را وارد کنید" class="form-control" style="width:70%" required>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> کد :</label>
                        <input display="کد" id="Code" name="Code" placeholder="کد کلاس را وارد کنید" class="form-control" style="width:70%" required>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> مقطع :</label>
                        <select class="form-control" style="width:160px" name="GradeId" id="GradeId">
                            <option value="0">انتخاب کنید</option>

                        </select>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> رشته  :</label>
                        <select class="form-control" style="width:160px" name="MajorId" id="MajorId">
                            <option value="0">انتخاب کنید</option>

                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-success" onclick="Save();">ثبت</button>
            </div>
        </div>
    </div>
</div>
<div id="Error">

</div>
<div id="Success">

</div>
<div id="Question">

</div>

<script>
    window.onload = Load;
    function Load() {
		CreateAllModals();
        FillComboBox('../ClassRooms/LoadMajors', 'MajorId');
        FillComboBox('../ClassRooms/LoadGrades', 'GradeId');
        $(".openmodal").click(function () {
            clear('register', ["input"]);
        });
        $(".btn-warning").click(function () {
            EditAjax("../ClassRooms/Deatails", this.id);
            var bodyStyle = document.body.style;
            bodyStyle.removeProperty('padding-right');
        });
        SetInputFilter(["Code"]);
    }
        function Save() {
        if (checkvalidity('register') === 0) {
            return;
        }
        else {
            $("#myModal").modal('toggle');
            var Parameters = [{ id: "Name", htmlname: "Name", special: "" }, { id: "Code", htmlname: "Code", special: "" } ,  { id: "ClassRoomId", htmlname: "ClassRoomId", special: "" },{ id: "GradeId", htmlname: "GradeId", special: "combo" },{ id: "MajorId", htmlname: "MajorId", special: "combo" }];
            PostAjax('../ClassRooms/Register', Parameters, "../ClassRooms/Index");
        }
	}
        function AssignButtonClicked(elem) {
        $('#ClassRoomId').val($(elem).data('assigned-id'));
    }
    function Remove() {
        var Parameters = [{ id: "ClassRoomId", htmlname: "ClassRoomId", special: "" }];
        PostAjax('../ClassRooms/Remove', Parameters, "../ClassRooms/Index");
    }
</script>