@model EducationalApplication.Utility.PaginatedList<EducationalApplication.Models.Students>

@{
    ViewData["Title"] = "Index";
}



<section class="content-header">
    <h1 style="float:right">
        مدیریت دانش آموزان
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> خانه</a></li>
        <li class="active">دانش آموزان</li>
    </ol>
</section>
<div style="margin-top: 50px;margin-bottom:3px">
    <a class="btn btn-success openmodal" href="#" data-toggle="modal" data-target="#myModal">ثبت جدید</a>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="text-center" style="border-style: solid;border-color:dimgray">
            <h2 style="font-size:medium">جستجو</h2>
        </div>
        @using (Html.BeginForm("Index",
     "Students",
     FormMethod.Post))
        {

            <div class="box zmdi-border-color" style="height:auto">
                <div class="box-body table-responsive no-padding row ">
                    <div style="width:90%;margin-right:40px;margin-top:10px">
                        <div class="row">
                            <label for="exampleInputEmail1">عنوان جستجو:</label>
                            <input name="searchString" placeholder="متن را وارد کنید" class="" style="width:260px">
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px" dir="rtl">
                    <button style="margin-right:20px;" type="submit" class="btn btn-primary">جتسجو یا بارگزاری مجدد</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
                    <tr>
                        <th>
                            ردیف
                        </th>
                        <th>
                            نام و نام خانوادگی
                        </th>
                        <th>
                            شماره همراه
                        </th>
                        <th>
                            آدرس
                        </th>
                        <th>
                            کدملی
                        </th>
                        <th>
                            عکس پرسنلی
                        </th>

                        <th>
                            رشته
                        </th>
                        <th>
                            مقطع
                        </th>
                        <th>
                            نام کاربری
                        </th>
                        <th>
                            رمزعبور
                        </th>
                        <th>
                            عملیات
                        </th>
                    </tr>
                    @{ int rowNo = 0; }
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @(rowNo += 1)
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.Mobile
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.NationalCode
                    </td>
                    <th>
                        <img src="..@item.Url" style="width:60px;height:50px" />
                    </th>
                    <td>
                        @item.Major.Name
                    </td>
                    <td>
                        @item.Grade.Name
                    </td>
               
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.Id">حذف</button> |
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModal" id="@item.Id"> ویرایش</button>
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            صفحه قبل
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            صفحه بعد
        </a>

    </div>
</div>



<div class="modal fade" id="myModal" role="dialog" style="height:auto;overflow-y:visible">
    <div class="modal-dialog modal-sm" style="width:400px">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ثبت جدید</h4>
            </div>
            <div class="modal-body" style="height:auto">

                <form id="register">
                    <input id="StudentId" name="StudentId" hidden />
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> نام :</label>
                        <input display="نام و نام خانوادگی" id="FullName" name="FullName" placeholder="نام و نام خانوادگی را وارد کنید" class="form-control" style="width:70%" required>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> شماره همراه :</label>
                        <input maxlength="11" display="شماره همراه" id="Mobile" name="Mobile" placeholder=" شماره همراه را وارد کنید" class="form-control" style="width:70%" required>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> کدملی :</label>
                        <input display="کدملی" maxlength="10" id="NationalCode" name="NationalCode" placeholder=" شماره همراه را وارد کنید" class="form-control" style="width:70%" required>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> آدرس :</label>
                        <input display="آدرس" id="Address" name="Address" placeholder="  آدرس را وارد کنید" class="form-control" style="width:70%">
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <input id="UserName" name="UserName" hidden>
                        <input id="Password" name="Password" hidden>
                    </div>
                    <div class="form-group " style="margin-right:5px">
                        <label for="exampleInputEmail1"> عکس پرسنلی :</label>
                        <div id="main-container">
                            <input display="Image" id="file" name="file" class="TheFile" onchange="SetPictures('file','ImageItems');" style="display:none" type="file">
                            <button type="button" style="height:20%;margin-left:15px;top:0;" class="btn btn-primary" onclick="file.click()"><i class="fa fa-camera"></i>انتخاب کنید</button>
                            <div id="ImageItems" style="width:400px;height:auto;margin-left:5px;">
                            </div>
                            <div id="RemoveImageItems" style="width:auto;height:auto;margin-left:5px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> مقطع تحصیلی :</label>
                        <select class="form-control" style="width:160px" name="GradeId" id="GradeId">
                            <option value="0">انتخاب کنید</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-right:5px">
                        <label for="exampleInputEmail1"> رشته تحصیلی :</label>
                        <select class="form-control" style="width:160px" name="MajorId" id="MajorId">
                            <option value="0">انتخاب کنید</option>

                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-success" onclick="Save();">ثبت</button>
            </div>
        </div>
    </div>
</div>
<div id="Error">

</div>
<div id="Success">

</div>
<div id="Question">

</div>
<script>
    window.onload = Load;
    function Load() {
		CreateAllModals();
        FillComboBox('../Students/LoadMajors', 'MajorId');
        FillComboBox('../Students/LoadGrades', 'GradeId');
        $(".openmodal").click(function () {
            clear('register', ["input"]);
        });
        $(".btn-warning").click(function () {
            EditAjax("../Students/Deatails", this.id);
            var bodyStyle = document.body.style;
            bodyStyle.removeProperty('padding-right');
        });
        SetInputFilter(["Mobile","NationalCode"]);
    }
    function Save() {
        if (checkvalidity('register') === 0) {
            return;
        }
        else {
            $("#myModal").modal('toggle');
            var Parameters = [{ id: "FullName", htmlname: "FullName", special: "" }, { id: "NationalCode", htmlname: "NationalCode", special: "" }, { id: "Mobile", htmlname: "Mobile", special: "" }, { id: "Address", htmlname: "Address", special: "" }, { id: "file", htmlname: "file", special: "file" }, { id: "StudentId", htmlname: "StudentId", special: "" },{ id: "GradeId", htmlname: "GradeId", special: "combo" },{ id: "MajorId", htmlname: "MajorId", special: "combo" }];
            PostAjax('../Students/Register', Parameters, "../Students/Index");
        }
    }
    function AssignButtonClicked(elem) {
        $('#StudentId').val($(elem).data('assigned-id'));
    }
    function Remove() {
        var Parameters = [{ id: "StudentId", htmlname: "StudentId", special: "" }];
        PostAjax('../Students/Remove', Parameters, "../Students/Index");
    }

</script>

